Presentation.MVC.ServiceAgents/Service References/Proxies.ProfileModule/ProfileModuleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2626/ProfileModuleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.ProfileModule.Messaging" />
  <xs:import schemaLocation="http://localhost:2626/ProfileModuleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" />
  <xs:import schemaLocation="http://localhost:2626/ProfileModuleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.ProfileModule.Messaging" minOccurs="0" name="request" nillable="true" type="q1:AddFriendRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="AddFriendResult" nillable="true" type="q2:FriendshipDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="mediaDTO" nillable="true" type="q3:MediaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="AddNewMediaResult" nillable="true" type="q4:MediaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="postDTO" nillable="true" type="q5:PostDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="AddNewPostResult" nillable="true" type="q6:PostDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="profile" nillable="true" type="q7:ProfileDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="AddNewProfileResult" nillable="true" type="q8:ProfileDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMediaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileId" type="q11:guid" />
        <xs:element minOccurs="0" name="enabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAbout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAboutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindAboutResult" nillable="true" type="q12:AboutDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAchievements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAchievementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindAchievementsResult" nillable="true" type="q13:AchievementsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBasicInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBasicInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindBasicInfoResult" nillable="true" type="q14:BasicInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindContactResult" nillable="true" type="q15:ContactDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFriendRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFriendRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindFriendRequestsResult" nillable="true" type="q16:ArrayOfProfileListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFriendRequestsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFriendRequestsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindFriendRequestsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.ProfileModule.Messaging" minOccurs="0" name="request" nillable="true" type="q17:FindFriendsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindFriendsResult" nillable="true" type="q18:ArrayOfProfileListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLiving">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLivingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindLivingResult" nillable="true" type="q19:LivingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindMediaResult" nillable="true" type="q21:MediaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMedias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMediasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindMediasResult" nillable="true" type="q22:ArrayOfMediaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindPostResult" nillable="true" type="q24:PostDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindPostsResult" nillable="true" type="q25:ArrayOfPostDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileId" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindProfileResult" nillable="true" type="q27:ProfileDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfileByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.ProfileModule.Messaging" minOccurs="0" name="request" nillable="true" type="q28:FindProfileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfileByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindProfileByUserNameResult" nillable="true" type="q29:ProfileDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfilePicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfilePictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindProfilePictureResult" nillable="true" type="q30:ProfilePictureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfileStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.ProfileModule.Messaging" minOccurs="0" name="request" nillable="true" type="q31:FindProfileStatsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfileStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindProfileStatsResult" nillable="true" type="q32:ArrayOfProfileStatsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfileSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfileSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindProfileSummaryResult" nillable="true" type="q33:ProfileSummaryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindProfilesResult" nillable="true" type="q34:ArrayOfProfileListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindResultsResult" nillable="true" type="q35:ResultsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResumeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindResumeResult" nillable="true" type="q36:ResumeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindSportResult" nillable="true" type="q37:SportDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkEdu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkEduResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="FindWorkEduResult" nillable="true" type="q38:WorkEduDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileViewCounter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileViewCounterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="GetProfileViewCounterResult" nillable="true" type="q39:ProfileCounterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageFriendship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.ProfileModule.Messaging" minOccurs="0" name="request" nillable="true" type="q40:ManageFriendshipRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageFriendshipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profile" type="q41:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.ProfileModule.Messaging" minOccurs="0" name="request" nillable="true" type="q42:FindProfilesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="SearchProfilesResult" nillable="true" type="q43:ArrayOfProfileSearchResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuggestFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuggestFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="SuggestFriendsResult" nillable="true" type="q44:ArrayOfProfileListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAbout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="about" nillable="true" type="q45:AboutDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAboutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAchievements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="achievements" nillable="true" type="q46:AchievementsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAchievementsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBasicInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="basicInfo" nillable="true" type="q47:BasicInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBasicInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="contact" nillable="true" type="q48:ContactDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLiving">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="living" nillable="true" type="q49:LivingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLivingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="profile" nillable="true" type="q50:ProfileDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfilePicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="about" nillable="true" type="q51:ProfilePictureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfilePictureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="profileSummary" nillable="true" type="q52:ProfileSummaryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileSummaryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="results" nillable="true" type="q53:ResultsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResultsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResume">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="resume" nillable="true" type="q54:ResumeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResumeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="sport" nillable="true" type="q55:SportDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkEdu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Phoenix.PhoenixApp.Application.MainBoundedContext.DTO.ProfileModule" minOccurs="0" name="workEdu" nillable="true" type="q56:WorkEduDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkEduResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>